@font-face {
    font-family: 'Biotif-Medium';
    src: url('assets/Biotif-Medium.ttf');
}
@font-face {
    font-family: 'Biotif-Light';
    src: url('assets/Biotif-Light.ttf');
}

.customimg{
    border-radius: 30px; 
}
li{
    padding-left: 15px;
   
}
body{
    background-color: #FFF7E3;
    font-family: Biotif-Medium;
    color: black;
   
}
.customcard{
    background-color: #171717;
    border-radius: 30px;
    padding: 40px 40px 40px 40px;
    margin : 0px 30px 0px 30px;
    
}
.customtitle{
    background: -webkit-linear-gradient(0deg,#FFEFC7, #4FFFD7, #9ADEFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.customsubtitle{
    font-size: 36px;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Biotif-Light;
}
.customnav{
    display: flex;
    flex-direction: row;
    left:  -20px;
    margin-bottom: 0;
    list-style: none;
}
@media screen and (min-width: 100.98px)  and (max-width: 768px) { 
    .customtitle{
        font-size: 36px;
        padding-top: 50px
    }
    .customsubtitle{
        font-size: 16px;
        padding-top: 30px
    }
    .customcard{
        margin : 20px 5px 20px 5px;
    }
    .customimg{
        margin-top: 20px;
        width: 300px;
    }
    li{
        font-size: 16px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1366px) { 
    .customtitle{
        font-size: 54px;
        padding-top: 50px
    }
    .customsubtitle{
        font-size: 22px;
        padding-top: 50px
    }
    .customcard{
        margin-top: 30px !important;
        margin-bottom: 30px;
        
    }
    .customimg{
        width: 500px;
    }
    li{
        font-size: 20px;
    }
 }

@media screen and (min-width: 1367px)   { 
    .customtitle{
        font-size: 72px;
        padding-top: 200px
    }
    .customsubtitle{
        font-size: 36px;
    }
    .customcard{
        margin-top: 30px;
        margin-bottom: 25px;
        height: 850px;
       
    }
    .customimg{
        width: 500px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin: 100px 0px 100px 0px;
    }
    li{
        font-size: 30px;
    }
 }